:root {
  --header-form-width: 81%;
}

.header {
  --header-font-size: 0.875rem;

  background-color: #fff;
  display: flex;
  align-items: flex-end;
  padding: 3rem 2.5rem 2.5rem;
  justify-content: space-evenly;
  gap: 1.5rem;
  flex-wrap: wrap;
  width: var(--header-form-width);
}

.header-trybewallet-logo {
  width: 15.636rem;
  height: 3.268rem;
}

.header-expense-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-expense-icon {
  width: 1.794rem;
  height: 1.794rem;
}

.header-expense-text {
  color: #003BE5;
  font-size: var(--header-font-size);
  font-weight: 600;
}

.header-expense-value,
.header-expense-currency {
  font-weight: 400;
}

.header-email-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-email-icon {
  width: 1.794rem;
  height: 1.794rem;
}

.header-email {
  font-size: var(--header-font-size);
  font-weight: 600;
  color: #2FC18C;
}
