.label-and-select-label {
  align-items: center;
  color: #003be5;
  display: flex;
  flex-grow: 1;
  font-size: 0.875rem;
  font-weight: 700;
  gap: 0.6rem;
}

.label-and-select-select {
  background-color: transparent;
  border: 1px solid #003be5;
  border-radius: 5px;
  color: #003be5;
  flex-grow: 1;
  padding: 0.44rem;
}
