.table {
  background-color: #003be5;
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
  margin-bottom: 3rem;
  width: 90.23%;
}

.table tr {
  height: 2.562rem;
}

.table-headings-row {
  border-bottom: 1px solid white;
}

.table th {
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 1rem;
  width: 6.937rem;
}

.table th:not( :first-of-type ) {
  border-left: 1px solid white;
}

.table td {
  color: #09ebdf;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 1rem;
  text-align: center;
  width: 6.937rem;
}

.table-row:not( :last-of-type ) {
  border-bottom: 1px solid #09ebdf;
}
