.table-btn {
  background-color: transparent;
  border: none;
  margin: auto 0.5rem;
}

.delete-icon {
  cursor: pointer;
  height: 0.875rem;
  width: 0.625rem;
}

.edit-icon {
  cursor: pointer;
  height: 0.85rem;
  width: 0.957rem;
}
