.wallet-page {
  min-height: 100vh;
  width: 100%;
  background-color: #2FC18C;
  background-image: url('../assets//bg-image.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
