.wallet-page {
  align-items: center;
  background-color: #2fc18c;
  background-image: url('../assets//bg-image.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
